
[Unit]
Description=Qompass AI Glass Signal Server

[Service]
Type=simple
LimitNOFILE=1000000
ExecStart=/usr/bin/hbbs
WorkingDirectory=/var/lib/glass-server/
User=
Group=
Restart=always
StandardOutput=append:/var/log/glass-server/hbbs.log
StandardError=append:/var/log/glass-server/hbbs.error
RestartSec=10

[Install]
WantedBy=multi-user.target

