
[Unit]
Description=Qompass AI Glass Relay Server

[Service]
Type=simple
LimitNOFILE=1000000
ExecStart=/usr/bin/hbbr
WorkingDirectory=/var/lib/glass/
User=
Group=
Restart=always
StandardOutput=append:/var/log/glass/hbbr.log
StandardError=append:/var/log/glass/hbbr.error
# Restart service after 10 seconds if node service crashes
RestartSec=10

[Install]
WantedBy=multi-user.target

